<h2>Selected Category:&nbsp;<%= theCat %></h2>
<br>


<table class="table" style="max-width: 60%;">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <% let sum = 0 %>
    <% expenses.forEach(function(expense) { %>
        <tbody>
            <tr>
                <td><%= expense.date %></td>
                <td><%= expense.name %></td>
                <td>$<%= expense.amount %></td>
                <td><a href="/expense/<%=expense.id%>/edit">Edit</a></td>
              </tr>
              <% }) %>
            </tbody>
      <% for (let i = 0; i < expenses.length; i++){%>
              <% sum += parseFloat(expenses[i].amount) %> 
      <%}%>
  </table>

<h3>Total: $<%= sum.toFixed(2) %></h3>

<a href="/expense">Back To Main</a>
<p>&nbsp;</p>