<h2>Expenses on: <%= chosenDate %></h2>
<table class="table" style="max-width: 60%;">
    <thead>
        <tr>
            <th scope="col">Category</th>
            <th scope="col">Item Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Action</th>
        </tr>
  </thead>
      <tbody>
        <% expenses.forEach(function(expense) { %>
        <tr>
              <td><%= expense.category.name %></td>
              <td><%= expense.name %></td>
              <td>$<%= expense.amount %></td>
              <td><a href="/expense/<%=expense.id%>/edit">Edit</a></td>
            </tr>
            <% }) %>
          </tbody>
    <% for (let i = 0; i < expenses.length; i++){%>
            <% theSum += parseFloat(expenses[i].amount) %> 
    <%}%>
</table>

<h3>Total: $<%= theSum.toFixed(2) %></h3>

<a href="/expense">Back To Main</a>