<form action="/expense/<%=expense.id%>?_method=PUT" method="POST">
    <input type="text" name="name" value="<%=expense.name%>"><br>
    <input type="text" name="amount" value="<%=expense.amount%>"><br>

    <select name="categoryId" id="Category" class="form-control" required>
        <% category.forEach(function(cats) { %>
          <option value="<%= cats.id %>"><%= cats.name %></option>
        <% }) %>
    </select>

    <button type="submit">Update</button>
</form>


<form action="/expense/<%=expense.id%>?_method=DELETE" method="POST">
    <button type="submit">Delete</button>
</form>  

<a href="/expense/<%= expense.id %>">Cancel</a>