<h2>Recent Transactions</h2>
<% expenses.forEach(function(expense) { %>
    <div>
        <li style="list-style: none;">
            <%= expense.date %>
            <%= expense.name %>
            <%= expense.amount %>
        </li>
    </div>
<% }) %>

<form action="/expense/day" method="POST">
    <div class="form-group">
      <label for="Expense">Expense</label>
      <select name="expenseDate" id="expense" class="form-control" required>
        <% expenseDay.forEach(function(expense) { %>
          <option value="<%= expense.DISTINCT%>"><%= expense.DISTINCT %></option>
        <% }) %>
      </select>
    </div>
    
    <input type="submit" class="btn btn-primary">
  </form>

  <form action="/expense/month" method="POST">
    <div class="form-group">
      <label for="Expense">Expense</label>
      <select name="expenseDate" id="expense" class="form-control" required>
        <% expenseDay.forEach(function(expense) { %>
          <option value="<%= expense.DISTINCT%>"><%= expense.DISTINCT.split("/")[0] %></option>
        <% }) %>
      </select>
    </div>
    
    <input type="submit" class="btn btn-primary">
  </form>