<h2>Year: <%= chosenYear %></h2>
<ul>
    <li>January: $<%= jan.toFixed(2) %></li>
    <li>February: $<%= feb.toFixed(2) %></li>
    <li>March: $<%= mar.toFixed(2) %></li>
    <li>April: $<%= apr.toFixed(2) %></li>
    <li>May: $<%= may.toFixed(2) %></li>
    <li>June: $<%= jun.toFixed(2) %></li>
    <li>July: $<%= jul.toFixed(2) %></li>
    <li>August: $<%= aug.toFixed(2) %></li>
    <li>September: $<%= sep.toFixed(2) %></li>
    <li>Octoboer: $<%= oct.toFixed(2) %></li>
    <li>November: $<%= nov.toFixed(2) %></li>
    <li>December: $<%= dec.toFixed(2) %></li>
</ul>


<a href="/expense">Back To Main</a>