<h2>Year: <%= chosenYear %></h2>
<ul>
    <li>January: $<%= jan %></li>
    <li>February: $<%= feb %></li>
    <li>March: $<%= mar %></li>
    <li>April: $<%= apr %></li>
    <li>May: $<%= may %></li>
    <li>June: $<%= jun %></li>
    <li>July: $<%= jul %></li>
    <li>August: $<%= aug %></li>
    <li>September: $<%= sep %></li>
    <li>Octoboer: $<%= oct %></li>
    <li>November: $<%= nov %></li>
    <li>December: $<%= dec %></li>
</ul>

<form action="/expense/month" method="POST">
    <div class="form-group">
      <label for="Expense">Select a month to view details:</label>
      <select name="expenseDate" id="expense" class="form-control" required>
        <option value="01">January</option>
        <option value="02">February</option>
        <option value="03">March</option>
        <option value="04">April</option>
        <option value="05">May</option>
        <option value="06">June</option>
        <option value="07">July</option>
        <option value="08">August</option>
        <option value="09">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
      </select>
    </div>
    
    <input type="submit" class="btn btn-primary" value="Select">
</form>

<a href="/expense">Back To Main</a>