<h2>Year: <%= chosenYear %></h2>

<div class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        January:
      </div>
      <div class="col-4">
        $<%= jan.toFixed(2) %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        February:
      </div>
      <div class="col-4">
        $<%= feb.toFixed(2) %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        March:
      </div>
      <div class="col-4">
        $<%= mar.toFixed(2) %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        April:
      </div>
      <div class="col-4">
        $<%= apr.toFixed(2) %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        May:
      </div>
      <div class="col-4">
        $<%= may.toFixed(2) %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        June:
      </div>
      <div class="col-4">
        $<%= jun.toFixed(2) %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        July:
      </div>
      <div class="col-4">
        $<%= jul.toFixed(2) %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        August:
      </div>
      <div class="col-4">
        $<%= aug.toFixed(2) %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        September:
      </div>
      <div class="col-4">
        $<%= sep.toFixed(2) %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        October:
      </div>
      <div class="col-4">
        $<%= oct.toFixed(2) %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        November:
      </div>
      <div class="col-4">
        $<%= nov.toFixed(2) %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        December:
      </div>
      <div class="col-4">
        $<%= dec.toFixed(2) %>
      </div>
    </div>
</div>


<a href="/expense">Back To Main</a>