<h2>Year: <%= chosenYear %></h2>
<ul>
    <li>January: $<%= jan.toFixed(2) %></li>
    <li>February: $<%= feb.toFixed(2) %></li>
    <li>March: $<%= mar.toFixed(2) %></li>
    <li>April: $<%= apr.toFixed(2) %></li>
    <li>May: $<%= may.toFixed(2) %></li>
    <li>June: $<%= jun.toFixed(2) %></li>
    <li>July: $<%= jul.toFixed(2) %></li>
    <li>August: $<%= aug.toFixed(2) %></li>
    <li>September: $<%= sep.toFixed(2) %></li>
    <li>Octoboer: $<%= oct.toFixed(2) %></li>
    <li>November: $<%= nov.toFixed(2) %></li>
    <li>December: $<%= dec.toFixed(2) %></li>
</ul>

<form action="/expense/month" method="POST">
    <div class="form-group">
      <label for="Expense">Select a month to view details:</label>
      <select name="expenseDate" id="expense" class="form-control" required>
        <option value="01">January</option>
        <option value="02">February</option>
        <option value="03">March</option>
        <option value="04">April</option>
        <option value="05">May</option>
        <option value="06">June</option>
        <option value="07">July</option>
        <option value="08">August</option>
        <option value="09">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
      </select>
    </div>
    
    <input type="submit" class="btn btn-primary" value="Select">
</form>

<a href="/expense">Back To Main</a>